<div class='link-form'>
  <%= render partial: 'link_form', locals: {link: @new_link} %>
</div>
<div id='link_list'>
  <% if @links != nil %>
    <% @links.each do |link| %>
      <%= render partial: 'link', locals: {link: link} %>
    <% end %>
  <% end %>
</div>
